<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Port</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="connection in connections">
        <td>{{connection.name}}</td>
        <td>{{connection.address}}</td>
        <td>{{connection.port}}</td>
        <td>{{connection.status}}</td>
        <td><a ui-sref="dashboard({dockerConnectionName: connection.name})"><i class="fa fa-tachometer"></i> Dashboard</a></td>
    </tr>
    </tbody>
</table>