@(message: String)

@main("Dockarium - Index", "IndexCtrl") {
    <h2>Dashboard</h2>
    <div class="row">
    <div class="col-md-9">div 1</div>
    <div class="col-md-3 well">Docker Daemons</div>
    </div>
    <h3>Eventlog</h3>

    <div class="row">
        <div class="well col-md-12">
            <table class="table table-striped">
                <tr ng-repeat="event in eventlog">
                    <td>{{(event.time*1000) | date }}</td>
                    <td>{{event.status}}</td>
                    <td>{{event.from}}</td>
                    <td>{{event.id}}</td>
                </tr>
            </table>
        </div>
    </div>
}
